@model Institue.Core.ViewModels.LoginViewModel

@inject Institue.Core.Services.Interface.IPermissionService _per;
@{
    Layout = null;

    ViewData["Title"] = "Login";




}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>قالب مدیریتی Gramos</title>

    <!-- begin::global styles -->
    <link rel="stylesheet" href="/assets/vendors/bundle.css" type="text/css">
    <!-- end::global styles -->
    <!-- begin::custom styles -->
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css">
    <!-- end::custom styles -->
    <!-- begin::favicon -->
    <link rel="shortcut icon" href="/assets/media/image/favicon.png">
    <!-- end::favicon -->
    <!-- begin::theme color -->
    <meta name="theme-color" content="#3f51b5" />
    <!-- end::theme color -->

</head>
<body class="bg-white h-100-vh p-t-0">

    <!-- begin::page loader-->
    <div class="page-loader">
        <div class="spinner-border"></div>
        <span>در حال بارگذاری ...</span>
    </div>
    <!-- end::page loader -->


    @if (ViewBag.notfind != null)
    {
        <div class="alert alert-danger alert-with-border alert-dismissible" role="alert">
            <i class="ti-help-alt m-l-10"></i> نام کاربری و یا رمز عبور شما نادرست است
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

    }
    @if (ViewBag.e != null)
    {
        <div class="alert alert-danger alert-with-border alert-dismissible" role="alert">
            <i class="ti-help-alt m-l-10"></i> حساب کاربری شما فعال نیست
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

    }


    @if (User.Identity.IsAuthenticated)
    {



        <script>
            var delay = 0;
            setTimeout(function () { window.location = "/home/index" }, delay);
        </script>

    }


    @if (ViewBag.success != null)
    {

        <div class="alert alert-success" role="alert">
            ورود  با موفقیت انجام شد
        </div>


        <script>
            var delay = 2000;
            setTimeout(function () { window.location = "/home/index" }, delay);
        </script>
    }

    <div class="container h-100-vh">
        <div class="row justify-content-center align-content-center align-items-center h-100-vh">
            @*<div class="col-lg-6 d-none d-lg-block p-t-b-25">
                    <img class="img-fluid" src="/assets/media/svg/login.svg" alt="...">
                </div>*@
            <div class="col-lg-4  offset-lg-1 p-t-b-25">
                <div class="d-flex align-items-center m-b-20">
                    <img src="/Logos/330px-University_of_tabriz_vector_blue_org.svg.png" class="m-l-15" width="40" alt="">
                    <h6 class="m-0 ">سامانه آموزش مجازی دانشگاه تبریز</h6>
                </div>
                @*<p style=" text-align: center; vertical-align: middle;">لطفا وارد حساب کاربری خود شوید</p>*@
                <form asp-controller="account" asp-action="login" method="post">
                    <div class="form-group mb-4">
                        <input type="text" asp-for="Username" class="form-control form-control-lg" id="exampleInputEmail1" autofocus placeholder="نام کاربری">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" asp-for="Password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="رمز عبور">
                    </div>
                    <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">ورود</button>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="RememberMe" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">مرا به خاطر بسپار</label>
                        </div>
                        @*   <a href="#" class="auth-link text-black">فراموشی رمز عبور؟</a>*@
                    </div>
                    @*<div class="row">
                            <div class="col-md-6 mb-4">
                                <a href="" class="btn btn-outline-facebook btn-block">
                                    <i class="fa fa-facebook-square m-l-5"></i> با فیسبوک
                                </a>
                            </div>
                            <div class="col-md-6 mb-4">
                                <a href="" class="btn btn-outline-google btn-block">
                                    <i class="fa fa-google m-l-5"></i> با گوگل
                                </a>
                            </div>
                        </div>*@
                    @*<div class="text-center">
                            حسابی ندارید؟ <a href="register.html" class="text-primary">ایجاد</a>
                        </div>*@
                </form>
            </div>
        </div>
    </div>

    <!-- begin::global scripts -->
    <script src="/assets/vendors/bundle.js"></script>
    <!-- end::global scripts -->
    <!-- begin::custom scripts -->
    <script src="assets/js/app.js"></script>
    <!-- end::custom scripts -->

</body>
</html>
