@page
@model InstitueProject.Pages.Admin.Roles.IndexModel
@{
 
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Institue.Core.Convertors;
<p>لیست نقشها</p>
<form>
    @*<div class="row">
            <input name="filterusername" type="text" class="form-control col-3" placeholder="نام کاربری" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="col-1"></div>
            <input name="filterEmail" type="text" class="form-control col-3" placeholder="ایمیل" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="col-1"></div>
            <div>
                <button type="submit" class="btn btn-primary">جستجو</button>
                <a asp-page="Index" style="color:aliceblue;" class="btn btn-primary"> ریست کردن جدول</a>

            </div>
        </div>*@
</form>
<div class="card-body">
    <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">عنوان نقش</th>

                    <th scope="col">دستورات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.RolesList.Where(i => i.IsDelete == false))
                {

                    <tr>
                        <td>@role.RoleTitle</td>


                        <td>
                            <a href="/Admin/Roles/EditRoles/@role.RoleId" style="color:aliceblue;" class="btn btn-warning">ویرایش</a>
                            @*<a href="/Roles/DeleteRoles/@role.RoleId" style="color:aliceblue;" class="btn btn-danger">حذف</a>*@

                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </div>
</div>
 